<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hl.widget">

    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-feature android:name = "android.hardware.camera" />
    <uses-feature android:name = "android.hardware.camera.autofocus" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".WidgetMainActivity"/>
        <activity android:name=".TextureViewActivity"/>
        <activity android:name=".SwipeRefreshLayoutActivity"/>
        <activity android:name=".SeekbarActivity"/>
        <activity android:name=".refresh.SwipeRefreshRecyclerActivity"/>
        <activity android:name=".recyclerdouble.RecyclerDoubleActivity"/>
    </application>

</manifest>
