<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hl.animation">

    <application>
        <activity
            android:name=".AnimationMainActivity"
            android:label="动画" />
        <activity android:name=".SecondActivity" />
    </application>
</manifest>
