<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hl.view">

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动 -->

    <application>
        <activity
            android:name=".ui.ViewMainActivity"
            android:label="控件" />
        <activity
            android:name=".ui.ToolBarActivity"
            android:theme="@style/ViewAppTheme" />
        <activity
            android:name=".ui.ToolBarAppBarLayoutActivity"
            android:theme="@style/ViewAppTheme" />
        <activity
            android:name=".ui.ToolBarCollapsingToolbarLayoutActivity"
            android:theme="@style/ViewAppTheme" />
        <activity
            android:name=".ui.CoordinatorlayoutActivity"
            android:theme="@style/ViewAppTheme" />

        <activity android:name=".ui.WidgetActivity" />
        <activity android:name=".ui.LayoutActivity" />
        <activity android:name=".ui.ConstraintLayoutActivity" />
        <activity android:name=".ui.TextureViewActivity" />
        <activity
            android:name=".ui.SwipeRefreshLayoutActivity"
            android:label="下拉刷新" />
        <activity android:name=".ui.SeekbarActivity" />
        <activity
            android:name=".ui.SwipeRefreshRecyclerActivity"
            android:label="下拉上拉" />
        <activity
            android:name=".ui.HeadRecyclerActivity"
            android:label="head" />
        <activity
            android:name=".ui.MoveRecyclerActivity"
            android:label="移动" />
        <activity
            android:name=".ui.RecyclerDoubleActivity"
            android:label="嵌套" />
        <activity
            android:name=".ui.QuickRecyclerActivity"
            android:label="右侧字母定位" />
        <activity android:name=".ui.BannerActivity" />
        <activity
            android:name=".ui.dialog.DialogMainActivity"
            android:label="Dialog" />
        <activity
            android:name=".ui.NavigationViewActivity"
            android:label="左划" />
        <activity
            android:name=".ui.RecyclerViewActivity"
            android:label="RecyclerView" />
        <activity
            android:name=".ui.recycler.DeleteRecyclerActivity"
            android:label="滑动删除" />
        <activity
            android:name=".ui.pip.PipActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="画中画"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".ui.pip.MediaSessionPlaybackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="画中画"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
    </application>
</manifest>
