<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hl">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 读sdcard-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 写sdcard-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/> <!-- 通讯录-->
    <uses-permission android:name="android.permission.INTERNET"/> <!--网络-->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <uses-permission android:name="android.permission.RECEIVE_SMS"/> <!--短信接收-->
    <uses-permission android:name="android.permission.READ_SMS"/> <!--短信读取-->

    <application
        android:name="com.hl.utils.base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AndroidMapActivity"/>
        <activity android:name=".VideoViewActivity"/>
        <activity android:name=".MessageActivity"/>
        <activity android:name=".ImagePlayerActivity"/>
        <activity android:name=".baidu.BaiduMainActivity"/>
    </application>

</manifest>